// font face with google fonts example
@import 'https://fonts.googleapis.com/css?family=IM+Fell+English';

// icomoon
@font-face {
  font-family: $font-custom-name;
  src: url('#{$font-path}/#{$font-custom-name}.ttf?#{$font-custom-query}') format('truetype'),
  url('#{$font-path}/#{$font-custom-name}.woff?#{$font-custom-query}') format('woff'),
  url('#{$font-path}/#{$font-custom-name}.svg?#{$font-custom-query}##{$font-custom-name}') format('svg');
  font-weight: normal;
  font-style: normal;
}
