// ====================================================================
// =manage flow
// ====================================================================

// you can use this mixin to manage the margin
// between each element and it is usually applied
// to columns elements
//
// example:
// .gal {
//     @include flow(40px, 20px);
// }

@mixin flow($pad-m: ($pad / 2), $pad-d: $pad, $mq: $m, $type: div) {
  margin-top: (-$pad-m);
  > #{$type} {
    margin-top: $pad-m;
  }
  @include mq($mq) {
    margin-top: (-$pad-d);
    > #{$type} {
      margin-top: $pad-d;
    }
  }
}
