// ====================================================================
// =generate grid
// ====================================================================

@function grid-col($colNumber, $colTot) {
  @return ($colNumber / $colTot) * 100%;
}
