// ====================================================================
// =calc aspect ratio
// ====================================================================

// example:
// .video {
//     padding-bottom: ratio(1024, 768);
// }

@function ratio($width, $height) {
  @return ($height / $width) * 100%;
}
